
@font-face {
    font-family: "titulo";
    src: url(../img/font/Lato-Black.ttf);
}

@font-face {
    font-family: "titulo2";
    src: url(../img/font/WorkSans-Regular.ttf);
}

@font-face {
    font-family: "texto";
    src: url(../img/font/Lato-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #0c2141, #030913);
}



.textoo {
    color: var(--bs-primary);
    gap: 2vh;
}

.todito {
    padding: 3vh;
}

.card {
    margin-top: 3vh;
}

.card {
    border: 0.3vh solid rgb(164, 164, 164);
    box-shadow: -1vh 1vh 0 rgba(111, 111, 111, 0.371);
}


/* APARTO 2*/




.container {
    margin-top: 2vh;
}
#botonmas {
    margin-top: 1vh;
}

#añadir_name_trajes{
    display: none;
}


.container_nuevo_traje {
    width: 35vw;    
    margin-left: 15vh;
}

.paquesealinee {
    display: flex;
    gap:2vh;
}

/* pa la alerta*/

.modal-content {
    border-radius: 15px;
    box-shadow: -2px 5px 1px rgba(0,0,0,0.3);
}
