
@font-face {
    font-family: "titulo";
    src: url(../img/font/Lato-Black.ttf);
}

@font-face {
    font-family: "titulo2";
    src: url(../img/font/WorkSans-Regular.ttf);
}

@font-face {
    font-family: "texto";
    src: url(../img/font/Lato-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(232, 232, 232, 0.439);
  }


.textoo {
    color: var(--bs-primary);
}

.todito {
    padding: 3vh;
}

.card {
    margin-top: 3vh;
}

.card {
    border: 0.3vh solid rgb(164, 164, 164);
    box-shadow: -1vh 1vh 0 rgba(111, 111, 111, 0.262);
}


/* APARTO 2*/

